{{template "base" .}} {{define "content"}}
<header>
  <div class="container">
    <div class="row">
      <div class="col room-img mx-auto d-block">
        <img class="img-fluid img-thumbnail" src="/static/images/marjors-suite.webp" alt="room image" />
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center mt-4">Major's Suite</h1>
      <p>Your home away from home, set in the amazon forest</p>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <a class="btn btn-success" role="button" href="/make-reservation">Check Availability</a>
    </div>
  </div>
</div>
{{end}}